<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://wwww.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/service/notFound.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/service/error.jsp</location>
    </error-page>

    <listener>
        <listener-class>com.example.listeners.StubDataInitializer</listener-class>
    </listener>
    
    <filter>
        <filter-name>Request filter</filter-name>
        <filter-class>com.example.filters.RequestResponseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Request filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Auth filter</filter-name>
        <filter-class>com.example.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auth filter</filter-name>
        <url-pattern>/users</url-pattern>
        <url-pattern>/updateUser</url-pattern>
        <url-pattern>/deleteUser</url-pattern>
        <url-pattern>/jsonUsers</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>memberUrls</param-name>
        <param-value>users,updateUser,jsonUsers</param-value>
    </context-param>
    <context-param>
        <param-name>adminUrls</param-name>
        <param-value>deleteUser</param-value>
    </context-param>

    <servlet>
        <servlet-name>Users List</servlet-name>
        <servlet-class>com.example.servlets.UsersPageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users List</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Update User</servlet-name>
        <servlet-class>com.example.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update User</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Json example</servlet-name>
        <servlet-class>com.example.servlets.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Json example</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users as Json</servlet-name>
        <jsp-file>/usersAsJson.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users as Json</servlet-name>
        <url-pattern>/jsonUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete User</servlet-name>
        <servlet-class>com.example.servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete User</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout servlet</servlet-name>
        <servlet-class>com.example.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout servlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

</web-app>